body {
  margin: 0;
  font-family: "Vazirmatn", sans-serif;
  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 16px;
}

header {
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96px;
}

.header-p {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-image {
  width: 100%;
  height: auto;
  display: block;
  mask-image: linear-gradient(to top, transparent 10%, white 100%);
}

.header-p p {
  background-color: #02132e;
  color: #fff;
  border: solid #fff 3px;
  padding: 20px;
  border-radius: 8px;
  font-size: 0.75rem;
  min-width: 200px;
  box-shadow: 0px 0px 0px 10px rgba(57, 57, 57, 0.8);
}

nav {
  display: none;
  position: absolute;
  top: 50px;
  right: 2;
  background-color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  display: none;
  box-shadow: 2px 2px 10px 2px #5e5e5e;
  z-index: 3;
}

.icon-items {
  display: none;
}

#menu-icon {
  display: block;
  cursor: pointer;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #49454f;
}

nav a {
  display: flex;
  column-gap: 4px;
  align-items: center;
  color: #49454f;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
}

nav a:hover {
  background-color: rgb(217, 170, 134);
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(closest-side, darkorange 30%, white, darkred 40%);
}

.using-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.using-img {
  border-radius: 12px;
  aspect-ratio: 1/1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.using-info h2 {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin: 16px 0 4px;
}

.using-info p {
  color: #4a5059;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: center;
  margin: 0;
}

.steps {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-top: 24px;
}

.steps > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
}

.steps h3 {
  color: #000;
  text-align: right;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin: 0;
}

.steps p {
  text-align: right;
  color: #4a5059;
}

.steps img {
  aspect-ratio: 1/1;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.advantages {
  border-radius: 12px;
  color: #fff;
  background: #00b5a8;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 16px;
  margin-top: 24px;
  max-width: 1196px;
}

.advantages h5 {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin: 0;
}

.advantages p {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin: 4px 0 0;
}

.advantages-options {
  margin-top: 20px;
}

.advantages-options img {
  width: 164px;
  height: 106px;
}

.advantages-options > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-options h5 {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin: 16px 0 8px;
}

.advantages-options p {
  color: #4a5059;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin: 0;
}

.order-buynow {
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    #ff6f21 0%,
    rgba(255, 91, 3, 0.66) 46%,
    rgba(255, 105, 23, 0.89) 99.99%,
    rgba(255, 90, 0, 0.63) 100%
  );
  margin: 60px 0 60px;
}

.order-buynow p {
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5rem;
  padding: 22px 40px;
  margin: 0;
}

@media only screen and (min-width: 426px) and (max-width: 1024px) {
  .wrapper {
    padding-inline: 2rem;
  }
  .header-p p {
    text-align: right;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75rem;
    max-width: 360px;
  }

  .using-img {
    width: 341px;
    aspect-ratio: 16/9;
  }

  .using-info {
    max-width: 680px;
  }

  .using-info h2 {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .using-info p {
    font-size: 0.75rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    max-width: 680px;
  }

  .steps {
    max-width: 696px;
  }

  .steps img {
    width: 180px;
    height: 180px;
  }

  .steps h3 {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .steps p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-top: 4px;
  }

  .advantages {
    margin-top: 45px;
    max-width: 696px;
  }

  .advantages h5 {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .advantages p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-top: 1rem;
  }

  .advantages-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    max-width: 696px;
  }

  .advantages-options h5 {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .advantages-options p {
    font-size: 0.875rem;
  }

  .order-buynow p {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 1024px) {

  .wrapper {
    padding-inline: 122px;
  }

  header {
    /* padding: 10px; */
    position: static;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  nav {
    display: flex;
    position: static;
    background-color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    box-shadow: none;
  }

  .header-p p {
    text-align: right;
    font-size: 1.5rem;
    line-height: 2.5rem;
    max-width: 460px;
  }

  #menu-icon {
    display: none;
  }

  .using-img {
    width: 460px;
    height: 240x;
    aspect-ratio: 16/9;
  }

  .using-info {
    max-width: 1196px;
  }
  .using-info h2 {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 2rem;
  }
  .using-info p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 52px;
  }

  .steps h3 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .steps p {
    max-width: 950px;
  }
  .steps img {
    width: 224px;
    height: 224px;
  }
  .advantages {
    margin-top: 72px;
  }
  .advantages h5 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .advantages p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-top: 1rem;
  }
  .advantages-options {
    display: flex;
    column-gap: 2rem;
    max-width: 1196px;
    margin-top: 72px;
  }
  .advantages-options img {
    width: 230px;
    height: 130px;
  }
  .advantages-options h5 {
    font-size: 1.75rem;
    line-height: 3rem;
  }
  .advantages-options p {
    font-size: 1rem;
    line-height: 2rem;
  }
  .order-buynow p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-top: 1rem;
  }
}
